/* propertiesComponent's private CSS styles */
.properties {
   margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
    
  }

  ul{
      display: flex;
  }


  .properties li {
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: left;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #d7d7d7;
    margin: 3em;
    padding: .8em 2em;
    height: 80px;;
    width: 80px;
    border-radius: 12px;
    background: #D7D7D7;
    box-shadow:  13px 13px 26px #bfbfbf, 
             -13px -13px 26px #efefef;
  }
  .properties li:hover {
    border-radius: 12px;
    background: #D7D7D7;
    box-shadow: inset 14px 14px 28px #bfbfbf, 
            inset -14px -14px 28px #efefef;
           
  }
  
  .properties li.selected {
    border-radius: 12px;
    background: #D7D7D7;
    box-shadow: inset 14px 14px 28px #bfbfbf, 
            inset -14px -14px 28px #efefef;
  }
  .properties li.selected:hover {
    border-radius: 12px;
    background: #D7D7D7;
    box-shadow: inset 14px 14px 28px #bfbfbf, 
            inset -14px -14px 28px #efefef;
  }
 label
 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
 }
 