
<div>
<h2>The Properties Available for Designing</h2>
<ul class="properties">
    <li *ngFor="let property of properties" [class.selected]="property === selectedProperty"(click)="onSelect(property)">
         {{property.name}}
    </li>
</ul>
</div>

<div *ngIf="selectedProperty">
  <h1>Details</h1>
    <h2>{{selectedProperty.name | uppercase}}</h2>
    <div><label><span>Project Id: </span>{{selectedProperty.projectId}}</label></div>
    <div>
      <label>Name: {{selectedProperty.name}} </label><br>
      <label>Dimensions: {{selectedProperty.dimensions}} </label>
      <label>color: {{selectedProperty.color}} </label><br>
      <label>Description: {{selectedProperty.description}} </label><br>
      <label>Customer ID: {{selectedProperty.customerID}} </label><br>
   
   
    </div>
  
  </div>